<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <a class="navbar-brand" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
    </div>
</nav>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">Export</li>
    </ul>
    <div class="list-group">
        {{#each delivery in deliveryList}}
            <button class="grid-restaurant list-group-item" {{action 'goToExport' delivery.id}}>
                <p class="click-through justify-left">{{delivery.displayTime}}</p>
            </button>
        {{else}}
            <h1>Nope. Nothing to see here.</h1>
            <h5>There are no deliveries to show.</h5>
        {{/each}}
    </div>       
</div>
