<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <a class="navbar-brand" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
    </div>
</nav>

<div class="img-background container-fluid"></div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">Complete Delivery</li>
    </ul>
    <div class="info-well well">
        <h1>Complete Delivery</h1>
        <div class="list-group">
            {{#each delivery in deliveryList}}
            <a class="list-group-item">{{radio-button name=deliveryList.value class="option" value=delivery.id}}<span class="option-text">{{delivery.displayTime}}</span></a>
            {{/each}}
        </div>   
        <button class="btn btn-primary" {{action 'submit'}}>Submit</button>
    </div>
</div>
