{{partial "navbar-standard"}}

<div class="container">
    <div class="error-message">
        <i class="error-icon ion-lock-combination"></i>
        <h1 class="error-text">Sorry, you can't sit with us.</h1>
        <h4 class="error-subtitle">This area is only for Swyft administrators.</h4>
    </div>
</div>
