{{partial "navbar-admin-modern"}}

<div class="admin-container">
    {{admin-navigation currentRoute=currentRoute}}

    <div class="admin-content">
        <div class="container">
            <div class="admin-header-bar">
                <h1 class="admin-header">About</h1>
                <h4 class="admin-subtitle">Welcome to Swyft Admin</h4>
            </div>
            <div class="panel admin-panel">
                <div class="admin-panel-header-area">
                    <h1 class="admin-panel-header">Version</h1>
                </div>
                <div class="admin-panel-content">
                    <h1 class="admin-about-version">Swyft Epsilon {{appVersionLabel}}</h1>
                    <h4 class="admin-about-codename">Codename {{appCodename}}</h4>
                </div>
            </div>   
        </div>
    </div>
</div>
