<nav class="navbar-home navbar navbar-default" role="navigation">
    <div class="container">
        <div class="header-info row">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">development@orderswyft.com</span>
            </div>
            <div class="navbar-float">
                <a href="https://www.facebook.com/orderswyft"><img src="images/facebook.png" height="20" width="20"></a>
                <img src="images/twitter.png" height="20" width="20">
            </div>
        </div>
        <div class="navbar-main row">
            <div class="navbar-header">
                <a class="navbar-brand-home navbar-brand" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">Export</li>
    </ul>
    <div class="list-group">
        {{#each delivery in deliveryList}}
            <button class="grid-restaurant list-group-item" {{action 'goToExport' delivery.id}}>
                <p class="click-through justify-left">{{delivery.displayTime}}</p>
            </button>
        {{else}}
            <h1>Nope. Nothing to see here.</h1>
            <h5>There are no deliveries to show.</h5>
        {{/each}}
    </div>       
</div>
