{{partial "navbar-admin"}}

<div class="img-background container-fluid"></div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">Tokens</li>
    </ul>
    <h3>Open Tokens</h3>
    <table class="table table-hover">
        <tr>
            <th>Token</th>
            <th>Discount</th>
        </tr>
        {{#each token in model}}
        <tr>
            <td>{{token.token}}</td>
            <td>{{token.discount}}</td>
        </tr>
        {{/each}}
    </table>
</div>
