{{partial "navbar-standard"}}

{{#animate-body}}
<div class="container">
    <div class="confirmation-message">
        <i class="confirmation-icon ion-ios-checkmark-outline"></i>
        {{!--<i class="confirmation-icon ion-android-checkmark-circle"></i>--}}
        {{!--<i class="confirmation-icon ion-checkmark-circled"></i>--}}
        <h1 class="confirmation-text">Your order is on its way</h1>
        <h4 class="confirmation-subtitle">Your order should be delivered at {{deliveryTime}}</h4>
    </div>
</div>
{{/animate-body}}
