{{partial "navbar-standard"}}

{{#animate-body}}
<div class="img-background container-fluid">
    <h1 class="background-title">Contact Us.</h1>
</div>

<div class="container">
    <h2 class="centered-text">Need to get in contact with us?</h2>
    <div class="col-md-6 box-dark">
        <i class="box-header glyphicon glyphicon-envelope"></i>
        <h4 class="box-content">development@orderswyft.com</h4>
        <h4 class="box-content">help@orderswyft.com</h4>
    </div>
    <div class="col-md-6 box-light">
        <i class="box-header glyphicon glyphicon-earphone center-fix"></i>
        <h4 class="box-content">646-84-SWYFT</h4>
    </div>
</div>
{{/animate-body}}