{{partial "navbar-standard"}}

<div class="container">
    <div class="error-message">
        <i class="error-icon ion-map"></i>
        <h1 class="error-text">We've moved to a better home.</h1>
        <h4 class="error-subtitle">Visit us in Swyft Admin under Current Delivery.</h4>
    </div>
</div>
