<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header"></div>
        <a class="navbar-brand" href="/">SWYFT</a>
    </div>
</nav>

<div class="container">
    <h1>Something went wrong there.</h1>
    <h4>Try refreshing the page.</h4>
</div>
