{{partial "navbar-standard"}}

<div class="container">
    <div class="error-message">
        <i class="error-icon ion-sad-outline"></i>
        <h1 class="error-text">Whoops. This is awkward.</h1>
        <h4 class="error-subtitle">Try refreshing or log out and log in again.</h4>
    </div>
</div>
