<div class="container">
    <div class="error-message">
        <h1 class="error-text">Whoops. This is awkward.</h1>
        <h4 class="error-subtitle">Try refreshing the page and if that doesn't solve the problem, try logging out and logging in again. Please don't hesitate to get in touch with us if needed.</h4>
        <h4 class="error-logo">Swyft</h4>
    </div>
</div>
