{{partial "navbar-alternate"}}

<div class="container">
    <h1>Something went wrong there.</h1>
    <h4>Try refreshing the page and if that doesn't solve the problem, try logging out and logging in again.</h4>
</div>
