<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <a class="navbar-brand" href="/">SWYFT</span></a>
    </div>
</nav>

<div class="img-background container-fluid">
    <h1 class="background-title">FAQ.</h1>
</div>

<div class="container">
    <ul class="faq">
        <li>
            <p class="question">Why can't I use Swyft in Safari Private Mode?</p>
            <p class="answer">The way Safari handles Private Mode makes it incompatible with our authentication system. We understand that this is a frusterating limitation, but luckily it is a case isolated to Safari. Just use Swyft in normal browsing mode on Safari and if you really need private browsing in some form, try Firefox or Chrome. Swyft works normally on the private browsing modes of all other major browsers.</p>
        </li>
        <li>
            <p class="question">How is my personal data used?</p>
            <p class="answer">The personal data we ask you during sign up is solely used to ensure that we can contact you if needed. This data is confidential and is only available among high level Swyft personnel.</p>
        </li>
        <li>
            <p class="question">Why are there only a few delivery times each week?</p>
            <p class="answer">One of the most important points of Swyft is that it is entirely student-run. Everything we do from web development for our website, to accounting, and graphic design, is done by students. We believe that having our organization structured this way empowers students to realize their passions in a unique hands-on business environment. This also means that we have limitations. We can't deliver all day because our personnel are students that also have classes and other committments, just like you.</p>
        </li>
        <li>
            <p class="question">Where does the money go?</p>
            <p class="answer">Swyft is a non-profit organization. At the end of the school year, Swyft donates its profits to a charity chosen by the team.</p>
        </li>
    </ul>
</div>
