{{partial "navbar-standard"}}

{{#animate-body}}
<div class="img-background container">
    <h1 class="background-title">faq</h1>
</div>

<div class="app-content">
    <div class="container">
        <ul class="faq">
            <li>
                {{!--
                <p class="question">How do you process credit cards?</p>
                <p class="answer">We use Stripe, the world's largest and most popular online credit card processing service. Your credit card data never touches Swyft servers and is never stored in our database. All processing is directly routed to Stripe's servers and we are simply returned a notification of whether the transaction was successful or not. Even in the worst case scenario of a data breach of Swyft, your credit card details would not be compromised. We take your privacy very seriously and we have taken every possible precaution to ensure that your credit card details will remain safe. We do not accept liability for errors that occur during credit card processing, as this is solely the responsibility of Stripe. For more information please contact us at development@orderswyft.com.</p>
                --}}
            </li>
            <li>
                <p class="question">Why can't I use Swyft in Safari Private Mode?</p>
                <p class="answer">The way Safari handles Private Mode makes it incompatible with our authentication system. We understand that this is a frusterating limitation, but luckily it is a case isolated to Safari. Please use Swyft in normal browsing mode on Safari. If you really need private browsing in some form, try Firefox or Chrome. Swyft works normally on the private browsing modes of all other major browsers.</p>
            </li>
            <li>
                <p class="question">How is my personal data used?</p>
                <p class="answer">The personal data we ask you during sign up is solely used to ensure that we can contact you if needed. This data is confidential and is only available among high-level Swyft personnel.</p>
            </li>
            <li>
                <p class="question">Why are there only a few delivery times each week?</p>
                <p class="answer">Part of Swyft's mission is to be entirely student-run. Everything we do from web development to accounting is done by students. We believe that having our organization structured this way empowers students to realize their passions in a unique hands-on business environment. This also means that we have limitations. We can't deliver all day because our personnel are students that also have classes and other committments, just like you.</p>
            </li>
            <li>
                <p class="question">Where does the money go?</p>
                <p class="answer">Swyft is a non-profit organization that is dedicated to providing students with opportunities to realize their passions in a real-world business environment. Profits are reinvested into the organization, so that it can grow existing ventures and support new ones. We support charitable efforts on campus through ESSO.</p>
            </li>
        </ul>
    </div>
</div>

{{/animate-body}}
{{partial "footer"}}