<div class="swyft-footer-container">
    <div class="container swyft-footer">
        <p class="footer-item">DESIGNED BY BHARAT ARIMILLI</p>
        <span class="footer-item">{{#link-to 'terms'}}TERMS & CONDITIONS{{/link-to}}</span>
        <span class="footer-item">{{#link-to 'contact-us'}}CONTACT US{{/link-to}}</span>
        <span class="footer-item">{{#link-to 'faq'}}FAQ{{/link-to}}</span>
    </div>
</div>