<nav class="navbar navbar-default navbar-no-shadow" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header"></div>
        <a class="navbar-brand" href="/">SWYFT</a>
    </div>
</nav>

<div class="container">
    <form class="login-form" {{action 'submit' on='submit'}}>
        <fieldset>
            <h2 class="centered-text">Forgot Password</h2>
            <h5 class="centered-text">If you lost your verification token, you'll need to contact us at development@orderswyft.com to retrieve it. There is a feature on the website that allows you to have your verification token resent to you, but it does not work for already verified users.</h5>
            {{#if error}}
            <div class="alert alert-dismissable alert-danger">
                <button class="close" type="button" {{action 'close'}}>×</button>
                <strong>Oh snap!</strong> We can't seem to process your request. Make sure your account is a verified account and check that you've entered the correct verification token from your original sign-up email.
            </div>
            {{/if}}
            {{#if success}}
                <div class="alert alert-success">
                    <strong>Great!</strong> An email has been sent to you with instructions on how to reset your password. Be sure to check your spam folder.
                </div>
            {{/if}}
            <div>
                {{input class="form-control" value=username type="text" placeholder="Email"}}
                {{input class="form-control" value=token type="text" placeholder="Verification Token (originally sent to you on sign up)"}}
            </div>
            <button class="btn btn-default" style="float:right;margin-top:10px;" type="submit">SUBMIT</button>
        </fieldset>
    </form>
</div>
