<nav class="navbar-home navbar navbar-default" role="navigation">
    <div class="container">
        <div class="header-info row">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-earphone"></i>
                <span class="header-item-text">646-84-SWYFT</span>

            </div>
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">help@orderswyft.com</span>
            </div>
            <div class="navbar-float">
                <a href="https://www.facebook.com/orderswyft"><img src="images/facebook.png" height="20" width="20"></a>
                <a href="https://twitter.com/orderswyft"><img src="images/twitter.png" height="20" width="20"></a>
            </div>
        </div>
        <div class="navbar-main row">
            <div class="navbar-header">
                <a class="navbar-brand-home navbar-brand" href="/">SWYFT</a>
            </div>
        </div>
    </div>
</nav>

{{#animate-body}} 
<div class="container">
    <form class="login-form" {{action 'submit' on='submit'}}>
        <fieldset>
            <h2 class="centered-text">Forgot Password</h2>
            <h5 class="centered-text">If you lost your verification token, you can contact us at development@orderswyft.com to retrieve it.</h5>
            {{#if error}}
            <div class="alert alert-dismissable alert-danger">
                <button class="close" type="button" {{action 'close'}}>×</button>
                <strong>Oh snap!</strong> We can't seem to process your request. Make sure your account is a verified account and check that you've entered the correct verification token from your original sign-up email.
            </div>
            {{/if}}
            {{#if success}}
                <div class="alert alert-success">
                    <strong>Great!</strong> An email has been sent to you with instructions on how to reset your password. Be sure to check your spam folder.
                </div>
            {{/if}}
            <div>
                {{input class="form-control" value=username type="text" placeholder="Email"}}
                {{input class="form-control" value=token type="text" placeholder="Verification Token (originally sent to you on sign up)"}}
            </div>
            <button class="btn btn-default" style="float:right;margin-top:10px;" type="submit">SUBMIT</button>
        </fieldset>
    </form>
</div>
{{/animate-body}} 