<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header">
            <a class="btn login-button" {{action 'order'}}>ORDER</a>
        </div>
        <a class="navbar-brand" href="/">SWYFT</a>
    </div>
</nav>

<div class="row row-one">
    <div class="row-one-text">
        <h1 class="welcome-text">MEET SWYFT.</h2>
        <h2 class="sub-text">A STUDENT-RUN NON-PROFIT AT PHILLIPS EXETER ACADEMY.</h3>
        <div class="promo-group list-group">
            {{#unless isAuthenticated}}
            <button class="btn list-group-item promo-button" {{action 'signUp'}}>SIGN UP</button>
            {{/unless}}
            <button class="btn list-group-item promo-button" {{action 'learnMore'}}>LEARN MORE</button>
        </div>        
    </div>
</div>

<hr class="divider">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h4 class="section-header">NEWS</h4>
            <h2>We're planning something big for MLK Day. Stay tuned.</p>
            <h4 class="tag">-SWYFT TEAM</h4>
        </div>
        <div class="col-xs-12 col-md-4">
            <h4 class="section-header">WHEN CAN I ORDER?</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Order Cutoff</th>
                        <th>Delivery Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Wednesday</td>
                        <td>6:15 pm</td>
                        <td>7:15 pm</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>8:15 pm</td>
                        <td>9:15 pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-4">
            <h4 class="section-header">JOIN US</h4>
            <p>We're a talented team always looking for students that can take our business to the next level. Please contact us on our Facebook page for open positions. We look forward to hearing from you.</p>
        </div>
    </div>
</div>

<div class="container-fluid swyft-footer">
    {{!--<a class="footer-item right" {{action 'terms'}}>TERMS & CONDITIONS</a>--}}
</div>