<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header">
            <a class="btn login-button" {{action 'order'}}>ORDER</a>
        </div>
        <a class="navbar-brand" href="/">SWYFT</a>
    </div>
</nav>

<div class="row row-one">
    <div class="row-one-text">
        <h1 class="welcome-text">MEET SWYFT.</h2>
        <h2 class="sub-text">A STUDENT-RUN NON-PROFIT AT PHILLIPS EXETER ACADEMY.</h3>
    </div>
</div>

    