<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header">
            <a class="btn login-button" href="/app/login">ORDER</a>
        </div>
        <a class="navbar-brand" href="/">SWYFT</a>
    </div>
</nav>

<div class="row row-one">
    <div class="row-one-text">
        <h1 class="welcome-text">MEET SWYFT.</h2>
        <h2 class="sub-text">A STUDENT-RUN NON-PROFIT THAT'S MAKING A DIFFERENCE.</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row row-two">
        <h1 class="header-text">STUDENT-RUN FROM END TO END.</h1>
        <p class="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nisl neque, tempor id gravida in, rhoncus sit amet ex. Mauris gravida risus eu magna dignissim finibus. Duis ut eros aliquam, vehicula ex non, ornare dui. Integer accumsan vitae velit quis ultricies. Phasellus venenatis placerat risus sit amet mollis. Nulla gravida dignissim fermentum. Maecenas lectus nisl, dapibus at mi a, sagittis ullamcorper magna. Ut eu mollis sapien, ac blandit risus. Aliquam maximus mattis vehicula.</p>
    </div>
</div>
    