<nav class="navbar-home navbar navbar-default" role="navigation">
    <div class="container">
        <div class="header-info row">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-earphone"></i>
                <span class="header-item-text">646-84-SWYFT</span>

            </div>
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">help@orderswyft.com</span>
            </div>
            <div class="navbar-float">
                <a href="https://www.facebook.com/orderswyft"><img src="images/facebook.png" height="20" width="20"></a>
                <img src="images/twitter.png" height="20" width="20">
            </div>
        </div>
        <div class="navbar-main row">
            <div class="navbar-header">
                <a class="navbar-brand-home navbar-brand" href="/">SWYFT</a>
            </div>
        </div>
    </div>
</nav>

{{#animate-body}}
<div class="row learn-more">
    <div class="row-one-text">
        <h1 class="promo-text">COMPLETELY STUDENT-RUN.</h2>
        <h2 class="sub-promo-text">FROM ACCOUNTING TO WEB DEVELOPMENT, WE DO IT ALL.</h3>
    </div>
</div>

<div class="container-fluid">
    <div id="effect-1" class="row">
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="spencer image img-fix"></section>
                <figcaption>
                    <h3>Spencer Burleigh</h3>
                    <span>Chief Executive Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="bharat image img-fix"></section>
                <figcaption>
                    <h3>Bharat Arimilli</h3>
                    <span>Chief Information Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="bhargav image img-fix"></section>
                <figcaption>
                    <h3>Bhargav Arimilli</h3>
                    <span>Chief Operating Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="moises image img-fix"></section>
                <figcaption>
                    <h3>Moises Escobar</h3>
                    <span>Chief Financial Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="steven image img-fix"></section>
                <figcaption>
                    <h3>Steven Kim</h3>
                    <span>Director of Finance</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="lauren image img-fix"></section>
                <figcaption>
                    <h3>Lauren Karr</h3>
                    <span>Director of Public Relations</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="pranay image img-fix"></section>
                <figcaption>
                    <h3>Pranay Vemulamada</h3>
                    <span>Director of Marketing</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="joon image img-fix"></section>
                <figcaption>
                    <h3>Joon Kim</h3>
                    <span>Co-director of Marketing</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="daniel image img-fix"></section>
                <figcaption>
                    <h3>Daniel Barbakoff</h3>
                    <span>Director of Human Resources</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="antonio image img-fix"></section>
                <figcaption>
                    <h3>Antonio Guanaes</h3>
                    <span>Director of Expansion</span>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
{{/animate-body}}