<nav class="navbar navbar-order navbar-transparent" role="navigation">
    <div class="container">
        <div class="navbar-order-header">
            <ul class="nav navbar-nav navbar-left">
                <span class="navbar-brand-transparent">{{#link-to 'index'}}Swyft{{/link-to}}</span>
            </ul>
        </div>
    </div>
</nav> 

{{#animate-body}}
<div class="row learn-more">
    <div class="row-one-learn-text">
        <h1 class="promo-text">COMPLETELY STUDENT-RUN.</h1>
        <h2 class="sub-promo-text">FROM ACCOUNTING TO WEB DEVELOPMENT, WE DO IT ALL.</h2>
    </div>
</div>

<div class="row row-learn-one">
    <div class="container">
        <h1 class="centered-text">We deliver food from Exeter's favorite restaurants to campus.</h1>
    </div>
</div>

<div class="row row-learn-two">
    <div class="container">
        <p class="learn-row-header">WHAT WE DO</p>
        <p class="learn-two-text">We’re here to empower students and nurture their talents in a real-world, business environment. At Swyft, it’s not about theory or hypotheticals. We’re here to serve real people.
        </p>
    </div>
</div>

<div class="row row-learn-three">
    <div class="container">
        <h1 class="learn-row-header">Business with a conscience.</h1>
        <p class="learn-three-text">Every dollar you spend with us is either reinvested in the organization or donated to charity.</p>
    </div>
</div>

<div class="container-fluid row-learn-team">
    <h1 class="team-header">OUR TEAM</h1>
    <div id="effect-1" class="row">        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
                <section class="daniel image"></section>
                <figcaption>
                    <h3>Daniel Barbakoff '16</h3>
                    <span>Chief Operating Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
                <section class="spencer image"></section>
                <figcaption>
                    <h3>Spencer Burleigh '16</h3>
                    <span>Founder and Chief Administrative Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
                <section class="lauren image"></section>
                <figcaption>
                    <h3>Lauren Karr '16</h3>
                    <span>Chief Communications Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
                <section class="steven image"></section>
                <figcaption>
                    <h3>Steven Kim '17</h3>
                    <span>Chief Financial Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
                <section class="joon image"></section>
                <figcaption>
                    <h3>Joon Kim '16</h3>
                    <span>Chief Business Development Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
                <section class="pranay image"></section>
                <figcaption>
                    <h3>Pranay Vemulamada '16</h3>
                    <span>Chief Marketing Officer</span>
                </figcaption>
            </figure>
        </div>    
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
                <section class="bharat image"></section>
                <figcaption>
                    <h3>Bharat Arimilli '15</h3>
                    <span>Founder and Chief Information Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <figure>
                <section class="bhargav image"></section>
                <figcaption>
                    <h3>Bhargav Arimilli '15</h3>
                    <span>Founder and Chairman</span>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="row row-learn-four">
    <div class="container">
        <h1 class="centered-text">Technology is at the core of everything we do.</h1>
        <p class="learn-four-text learn-more-main">With web infrastructure built from the ground up, Swyft is one of the most technologically-oriented student organizations at Phillips Exeter Academy. Technology at our core means a modern experience for our customers and a streamlined workflow for our personnel. At Swyft, technology isn’t a frivolous distraction. Instead, it’s engineered to maximize productivity.</p>
    </div>
</div>

<div class="row row-learn-five">
    <div class="container">
        <h1 class="centered-text">Our very own web platform.</h1>
        <p class="learn-five-text learn-more-main">We built <strong>Swyft Epsilon</strong> from the ground up to meet our every need. Built on a rock-solid foundation of some of the fastest-growing web technologies, it's not only modern but fast and reliable.</p>
    </div>
</div>

<div class="image-scroller-learn-more"></div> 
<div class="filter-scroller"></div>

{{/animate-body}}

{{partial 'footer'}}