<nav class="navbar navbar-order navbar-transparent" role="navigation">
    <div class="container">
        <div class="navbar-order-header">
            <ul class="nav navbar-nav navbar-left">
                <span class="navbar-brand-transparent">{{#link-to 'index'}}Swyft{{/link-to}}</span>
            </ul>
        </div>
    </div>
</nav> 

{{#animate-body}}
<div class="row learn-more">
    <div class="row-one-learn-text">
        <h1 class="promo-text">COMPLETELY STUDENT-RUN.</h1>
        <h2 class="sub-promo-text">FROM ACCOUNTING TO WEB DEVELOPMENT, WE DO IT ALL.</h2>
    </div>
</div>

<div class="row row-learn-one">
    <div class="container">
        <h1 class="centered-text">We deliver food from Exeter's favorite restaurants to campus.</h1>
    </div>
</div>

<div class="row row-learn-two">
    <div class="container">
        <p class="learn-row-header">WHAT WE DO</p>
        <p class="learn-two-text">We’re here to empower students and nurture their talents in a real-world, business environment. At Swyft, it’s not about theory or hypotheticals. We’re here to serve real people.
        </p>
    </div>
</div>

<div class="row row-learn-three">
    <div class="container">
        <h1 class="learn-row-header">Business with a conscience.</h1>
        <p class="learn-three-text">Every dollar you spend with us is either reinvested in the organization or donated to charity.</p>
    </div>
</div>

<div class="container-fluid row-learn-team">
    <h1 class="team-header">OUR TEAM</h1>
    <div id="effect-1" class="row">        
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="daniel image img-fix"></section>
                <figcaption>
                    <h3>Daniel Barbakoff '16</h3>
                    <span>Chief Operating Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="spencer image img-fix"></section>
                <figcaption>
                    <h3>Spencer Burleigh '16</h3>
                    <span>Founder and Chief Administrative Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="lauren image img-fix"></section>
                <figcaption>
                    <h3>Lauren Karr '16</h3>
                    <span>Chief Communications Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="steven image img-fix"></section>
                <figcaption>
                    <h3>Steven Kim '17</h3>
                    <span>Chief Financial Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="joon image img-fix"></section>
                <figcaption>
                    <h3>Joon Kim '16</h3>
                    <span>Chief Business Development Officer</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="pranay image img-fix"></section>
                <figcaption>
                    <h3>Pranay Vemulamada '16</h3>
                    <span>Chief Marketing Officer</span>
                </figcaption>
            </figure>
        </div>    
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="bharat image img-fix"></section>
                <figcaption>
                    <h3>Bharat Arimilli '15</h3>
                    <span>Founder and IT Consultant</span>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 col-md-4">
            <figure>
                <section class="bhargav image img-fix"></section>
                <figcaption>
                    <h3>Bhargav Arimilli '15</h3>
                    <span>Founder and Operations Consultant</span>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="row row-learn-four">
    <div class="container">
        <h1 class="centered-text">Technology is our core.</h1>
        <div class="col-md-4">
            <i class="ion-ios-monitor-outline tech-icon learn-more-icon"></i>
        </div>
        <div class="col-md-8">
            <p class="learn-four-text learn-more-main">With web infrastructure built from the ground up, Swyft is one of the most technologically-oriented student organizations at Phillips Exeter Academy. Technology at our core means a modern experience for our customers and a streamlined workflow for our personnel. At Swyft, technology isn’t a frivolous distraction. Instead, it’s engineered to maximize productivity.</p>
        </div>
    </div>
</div>

<div class="row row-learn-five">
    <div class="container">
        <h1 class="centered-text">Payment, simplified.</h1>
        <div class="col-md-4">
            <i class="ion-card credit-card-icon learn-more-icon"></i>
        </div>
        <div class="col-md-8">
            <p class="learn-five-text learn-more-main">Our <strong>Swyft Debit</strong> transaction system gives our customers power and flexibility. It’s easier than cash and safer than credit. Simply top up your balance and use it on any Swyft transaction.</p>
        </div>
    </div>
</div>

<div class="swyft-footer-container">
    <div class="container swyft-footer">
        <p class="footer-item">DESIGNED BY BHARAT ARIMILLI</p>
    </div>
</div>

<div class="image-scroller-learn-more"></div> 
<div class="filter-scroller"></div>

{{/animate-body}}