<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <a class="navbar-brand" href="/">SWYFT</a>
    </div>
</nav>

<div class="row row-one">
    <div class="row-one-text">
        <h1 class="welcome-text">COMPLETELY STUDENT-RUN.</h2>
        <h2 class="sub-text">FROM GRAPHIC DESIGN TO WEB DEVELOPMENT, WE DO IT ALL.</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/Mountains.jpg" height="300" width="300">
                <div class="caption">
                    <h3>Spencer Burleigh</h3>
                    <h2>CEO</h2>
                    <p>As CEO and one of the organization's co-founders, Spencer involves himself with nearly every department and operation of Swyft. He is responsible for defining a roadmap for the organization and frequently meets with his fellow board members to ensure that progress is being made towards his aforementioned goals.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/Mountains.jpg" height="300" width="300">
                <div class="caption">
                    <h3>Bharat Arimilli</h3>
                    <h2>CIO</h2>
                    <p>Bharat manages Swyft's website, branding, and marketing materials. He is responsible for the forward-thinking technological focus that Swyft has taken up since its inception. After pitching the idea of a modern and standards complaint web app for ordering, the Swyft website has since become the centerpiece of Swyft's operations.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/Mountains.jpg" height="300" width="300">
                <div class="caption">
                    <h3>Bhargav Arimilli</h3>
                    <h2>COO</h2>
                    <p>Bhargav manages the logistical operations of Swyft. He is present at every bi-weekly delivery to ensure that food is being sent out to dorms properly and efficiently. He frequently meets with Spencer to ensure that operations are running in a manner consistent with Swyft's roadmap.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/Mountains.jpg" height="300" width="300">
                <div class="caption">
                    <h3>Moises Escobar</h3>
                    <h2>CFO</h2>
                    <p>Moises works hard to create contracts and deals with local restaurants and organizations.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/Mountains.jpg" height="300" width="300">
                <div class="caption">
                    <h3>Lauren Karr</h3>
                    <h2>Director</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/Mountains.jpg" height="300" width="300">
                <div class="caption">
                    <h3>Pranay Vemulamada</h3>
                    <h2>Director</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>