<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header">
            {{view 'navbar-toggle'}}
        </div>
        <a class="navbar-brand" href="/">ORDER<span class="logo-light">SWYFT</span></a>
    </div>
</nav>

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated}}

<div class="img-background container-fluid"></div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'restaurants'}}Restaurants{{/link-to}}</a></li>
        <li class="active">Menu</li>
    </ul>
    <h1>Menu</h1>
    <div class="grid-products list-group">
        {{#each menuItem in menuItems}}
        <a class="grid-product list-group-item">
            {{#link-to 'item' menuItem.id}}
            <div>
                <h4 class="grid-product-title">{{menuItem.name}}</h4>
                <br>
                <span class="grid-product-price">{{render-decimals menuItem.baseprice}}</span>
            </div>
            {{/link-to}}
        </a>
        {{/each}}
    </div>   
</div>
