<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header">
            {{view 'navbar-toggle'}}
        </div>
        <a class="navbar-brand" href="/">ORDER<span class="logo-light">SWYFT</span></a>
    </div>
</nav>

{{view 'sidebar'}}

<div class="img-background container-fluid"></div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'restaurants'}}Restaurants{{/link-to}}</a></li>
        <li class="active">Menu</li>
    </ul>
    <h1>Menu</h1>
    <div class="grid-products list-group">
        {{#each menuItem in menuItems}}
        <li class="grid-product list-group-item">
            <div>
                {{#link-to 'item' menuItem.id}}<h4 class="grid-product-title">{{menuItem.name}}</h4>{{/link-to}}
                <br>
                ${{render-decimals menuItem.baseprice}}
            </div>
        </li>
        {{/each}}
    </div>   
</div>
