<nav class="navbar navbar-fixed-top admin-navbar" role="navigation">
    <div class="container-fluid admin-navbar-container">
        {{admin-toggle}}
        <a class="admin-brand" href="/">Swyft Admin</a>
    </div>
    <div class="admin-navbar-float">
        {{!--<button class="icon-button"><i class="fa fa-cog"></i></button>--}}
    </div>
</nav>