<nav class="navbar navbar-order" role="navigation">
    <div class="container">
        <div class="navbar-order-header">
            <div class="navbar-header">
                <span class="navbar-brand-order">{{#link-to 'index'}}SWYFT{{/link-to}}</span>
            </div>
        </div>
    </div>
</nav>