<nav class="navbar" role="navigation">
    <div class="header-bar row">
        <div class="header-info container">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-earphone"></i>
                <span class="header-item-text">646-84-SWYFT</span>

            </div>
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">help@orderswyft.com</span>
            </div>
        </div>
    </div>
    <div class="navbar-container-order container">
        <a class="navbar-brand" href="/">SWYFT</a>
    </div>
</nav>