<nav class="navbar" role="navigation">
    <div class="header-bar row">
        <div class="header-info container">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">development@orderswyft.com</span>
            </div>
        </div>
    </div>
    <div class="navbar-container-order container">
        <a class="navbar-brand navbar-brand-admin" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
    </div>
</nav>