<nav class="navbar navbar-no-shadow" role="navigation">
    <div class="navbar-container-order container">
        <a class="navbar-brand navbar-brand-admin" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
    </div>
</nav>