<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header"></div>
        <a class="navbar-brand" href="/">ORDER<span class="logo-light">SWYFT</span></a>
    </div>
</nav>

<div class="img-background container-fluid">
    <h1 class="background-title">Profile.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'restaurants'}}Restaurants{{/link-to}}</a></li>
        <li class="active">Profile</li>
    </ul>
    <form>
        <div class="info-well well">

        </div>  
    </form>
</div>
