{{partial "navbar-order"}}

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated}}

{{#animate-body}}
<div class="img-background container-fluid">
    <h1 class="background-title">Restaurants.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="active">Restaurants</li>
    </ul>
    <div class="list-group">
        {{#each restaurants as |restaurant|}}
        <button class="grid-restaurant list-group-item" {{action 'transition' restaurant.name}}>
            <p class="click-through justify-left">{{restaurant.title}}</p>
        </button>
        {{/each}}
    </div>   
</div>
{{/animate-body}}