<nav class="navbar navbar-order navbar-default" role="navigation">
    <div class="header-bar row">
        <div class="header-info container">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-earphone"></i>
                <span class="header-item-text">646-84-SWYFT</span>

            </div>
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">help@orderswyft.com</span>
            </div>
        </div>
    </div>
    <div class="navbar-container-order container">
        <div class="navbar-float">
            {{view 'navbar-toggle'}}
        </div>
        <a class="navbar-brand" href="/">ORDER<span class="logo-light">SWYFT</span></a>
    </div>
</nav>

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated}}

<div class="img-background container-fluid">
    <h1 class="background-title">Restaurants.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li class="active"></li>Restaurants</li>
    </ul>
    <div class="list-group">
        {{#each restaurant in restaurants}}
        <button class="grid-restaurant list-group-item" {{action 'transition' restaurant.name}}>
            <p class="click-through justify-left">{{restaurant.title}}</p>
        </button>
        {{/each}}
    </div>   
</div>
