<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header">
            {{view 'navbar-toggle'}}
        </div>
        <a class="navbar-brand" href="/">ORDER<span class="logo-light">SWYFT</span></a>
    </div>
</nav>

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated}}

<div class="img-background container-fluid"></div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li class="active"></li>Restaurants</li>
    </ul>
    <h1>Restaurants</h1>
    <div class="list-group">
        {{#each restaurant in restaurants}}
        <a class="grid-restaurant list-group-item">
            {{#link-to 'menu-items' restaurant.name}}<p>{{restaurant.title}}</p>{{/link-to}}
        </a>
        {{/each}}
    </div>   
</div>
