<nav id="nav-menu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
    <div class="nav-menu-content">
        <button type="button" class="btn btn-default btn-lg btn-block btn-sidemenu">Login</button>
        <button type="button" class="btn btn-default btn-lg btn-block btn-sidemenu">Menu</button>
        <button type="button" class="btn btn-default btn-lg btn-block btn-sidemenu">Profile</button>
        <h2 class="cart-header">CART</h2>
    </div>
</nav>