<nav class="navbar-home navbar navbar-default" role="navigation">
    <div class="container">
        <div class="header-info row">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-earphone"></i>
                <span class="header-item-text">646-84-SWYFT</span>

            </div>
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">help@orderswyft.com</span>
            </div>
            <div class="navbar-float">
                <a href="https://www.facebook.com/orderswyft"><img src="images/facebook.png" height="20" width="20"></a>
                <img src="images/twitter.png" height="20" width="20">
            </div>
        </div>
        <div class="navbar-main row">
            <div class="navbar-header">
                <a class="navbar-brand-home navbar-brand" href="/">SWYFT</a>
            </div>
        </div>
    </div>
</nav>

<div class="img-background container-fluid">
    <h1 class="background-title">Terms & Conditions.</h1>
</div>

<div class="container terms-container">

    <p>Swyft has a number of terms and conditions in place. By placing orders on Swyft’s website (www.orderswyft.com), customers agree to abide by all terms and conditions outline below.</p>


    <h3>Swyft Internal Fault Policy</h3>

    <p>If Swyft fails to deliver an order because of an internal fault, then customers will be refunded their money, if they have already paid. For immediate-billing payment options, then customers will be refunded through the medium through which they paid, at Swyft’s discretion. They may also be entitled to a compensation credit valid for 2 (two) months from the date of issuance.</p>

    <h3>External Factors Policy</h3>

    <p>If Swyft fails to deliver an order because of factors outside of its control (e.g. weather, restaurant closures, etc.), the customer will be refunded. However, they will not be entitled to a compensation credit (described above) because these factors are outside of Swyft’s control.</p>


    <h3>Privacy Policy</h3>

    <p>Swyft takes the protection of customer data very seriously. Customer data, including but not limited to, order history, cell phone numbers, emails, etc., is accessible only by authorized Swyft personnel. Swyft will never share or sell this data to any third parties. Customer passwords are stored in an encrypted database, making them accessible to no one, including Swyft personnel.</p>

    {{!--
    <h3>Credit Card Policy</h3>

    <p>Swyft uses Stripe, a credit card processing company used by many reputable brands across the world, for accepting credit card payments. Credit card data is never passed through Swyft’s data infrastructure and is never stored by Swyft. For any concerns about actual payment processing, please refer to Stripe’s payment policy (https://stripe.com/us/terms). Swyft assumes no liability for errors and faults that occur during credit card processing, as these are handled entirely by Stripe.</p>
    --}}


    <h3>Cancellation Policy</h3>

    <p>Customers have the option to cancel an order up to 15 (fifteen) minutes before a delivery period closes. To cancel, customers must email swyfthelp@gmail.com. Following this time, customers are not permitted to cancel orders and are obliged to pay for the food they have ordered.</p>


    <h3>Refund Policy</h3>

    <p>Swyft will only refund customers if there is a problem with their orders.</p>


    <p>If restaurants fail to provide Swyft with the correct order that the customer ordered or if the order contains any defects, Swyft will work on the customer’s behalf to get a refund. This process is entirely dependant on the restaurant itself, and Swyft is not liable if the restaurant is unable to process a refund.</p>


    <p>If a customer’s food is mishandled by Swyft personnel, the refund falls under the Swyft internal fault policy.</p>



    <h3>Return Policy</h3>

    <p>Swyft does not permit any returns for a refund under any circumstances, given the perishable nature of products sold.</p> 


</div>
