{{partial "navbar-standard"}}

<div class="img-background container">
    <h1 class="background-title">terms & conditions</h1>
</div>

<div class="app-content">
    <div class="container terms-container">
        {{markdown-to-html markdown=terms}}
    </div>
</div>
{{partial "footer"}}
