body {
    overflow-x: hidden;
}

#nav-menu {
    box-shadow:0 5px 30px -10px #000
}

.navbar-no-shadow {
    box-shadow: none !important;
}

.divider {
    width: 80%;
    height: 1.5px;
}

.nav-menu-content {
    margin-left: 10px; 
    margin-right: 10px;
}

.cart-header {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Roboto';
}

.btn-sidemenu {
    font-size: 14px;
    letter-spacing: 3px;
    background-color: white;
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
    border-color: transparent;
    margin-left: -12px;
    margin-right: -10px;
    width: 108%;
    margin-top: 0px !important;
    border-bottom-color: #e0e0e0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.btn-sidemenu:hover {
    border-color: transparent;
    background-color: #e2e2e2;
    color: black;
}

.btn-checkout {
    border-top-color: #e0e0e0;
    border-top-style: solid;
    border-top-width: 1px;
}

.navbar-toggle {
    display: block;
    border-color: transparent !important;
    float: right;
}

.navbar-toggle:hover , .navbar-toggle:focus {
    background-color: transparent !important;
}

.icon-bar {
    background-color: black !important;
}

.top-bar {
    height:7px;
    width: 100vw;
    margin-top:-2px;
    background-color: #3e3e3e;
    margin-left: -16px;
    margin-right: -20px;
}

.navbar {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
    background-color: white !important;
    border-color: transparent;
}

.navbar-brand {
    color: black !important;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    color: black;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
}

.navbar-brand-transparent {
    display: block;
    margin-top: 10px;
    color: white !important;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
}

.navbar-brand-transparent:hover {
    text-decoration: none;
    transform: scale(0.95);
}

.navbar-brand:hover {
    transform: scale(0.95);
}

.navbar-home {
    background-color: white !important;
    margin-bottom: 20px;
}

.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}

.navbar-brand-home {
    color: black !important;
    font-size: 18x;
}

.navbar-float {
    float: right;
}

.navbar-float-margin {
    margin-top: 12px;
}

.navbar-main {
    margin-top: 5px;
    margin-bottom: 0px;
}

.navbar-main-transparent {
    margin-top: 15px;
    margin-bottom: 0px;
}

.navbar-top {
    height: 75px;
}

.navbar-home { }

.navbar-container-order {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-top {
    margin-top: 20px;
}

.header-info {
    margin-top: 5px;
}

.logo-light {
    color: darkgray;
    font-weight: 400;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.row-one {
    color:black !important;
    height: 82vh;
    margin-top: -20px;
    /*background-image: url('/images/BuildingEdit.png');*/
    background-position: center;
    background-size: cover;
    min-height: 170px;
    position: relative;
}

.learn-more {
    height: 70vh;
}

.row-one-text {
    margin-top: 31vh;
}

.welcome-text {
    font-family: 'Source Sans Pro';
    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 53px;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.welcome-text:hover {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
}

.promo-text {
    font-family: 'Source Sans Pro';
    font-weight: 100;
    color: black;
    text-align: center;
    font-size: 55px;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.promo-text:hover {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
}

.sub-promo-text {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    color:#a0a0a0;
    margin-top:-7px;
    font-size:15px;
    text-align: center;
    -webkit-transition: transform 0.5s ease-in, color 0.2s ease-out;
    -moz-transition: transform 0.5s ease-in, color 0.2s ease-out;
    -ms-transition: transform 0.5s ease-in, color 0.2s ease-out;
    -o-transition: transform 0.5s ease-in, color 0.2s ease-out;
    transition: transform 0.5s ease-in, color 0.2s ease-out;
}

.sub-promo-text:hover {
    color: black;
}

.sub-text {
    display: none;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    color:#a0a0a0;
    margin-top:-7px;
    font-size:15px;
    text-align: center;
    -webkit-transition: transform 0.5s ease-in, color 0.2s ease-out;
    -moz-transition: transform 0.5s ease-in, color 0.2s ease-out;
    -ms-transition: transform 0.5s ease-in, color 0.2s ease-out;
    -o-transition: transform 0.5s ease-in, color 0.2s ease-out;
    transition: transform 0.5s ease-in, color 0.2s ease-out;
}

.sub-text:hover {
    color: black;
}

#nav-menu {
    background-color: white;
    border-color: transparent;
}

.header-bar {
    background-color: #f0f0f0;
    padding-bottom: 8px;
}

.btn-quick-link {
    display: block;
    background-color: white;
    height: 35px;
    color: black;
    font-size: 14px;
    padding: 0;
    width: 130px;
    margin-top: 10px;
    font-weight: 400;
    padding-top: 0px;
    font-family: 'Open Sans';
    border: 1px solid darkgray;
    font-size: 11px;
    letter-spacing: 2px;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.btn-quick-link:hover {
    background-color: black;
    color: white;
}

.quick-link-container {
    list-style-type: none;
    margin-left: -35px;
    margin-top: 7px;
}

.quick-link {
   color: black !important;
   font-family: 'Roboto';
}

.login-button {
    display: block;
    background-color: #fff;
    height: 25px;
    padding: 0;
    width: 90px;
    border: 1px solid black;
    letter-spacing: 2px;
    color: black;
    font-weight: 400;
    font-size: 11px;
    font-family: 'Open Sans';
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.login-button:hover {
    background-color: black;
    color: white !important;
}

.order-button {
    display: block;
    background-color: transparent;
    height: 25px;
    padding: 0;
    width: 90px;
    border: 1px solid white;
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
    font-size: 11px;
    font-family: 'Open Sans';
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.order-button:hover {
    background-color: white;
    color: black !important;
}

.row-two {
    margin-top: 100px;
    margin-bottom: 150px;
    background-color: white;
}

.container-two {
    background-color: white;
    margin-top: -20px;
}

.row-small {
    background-color: #4272A9;
    height: auto;
    margin-bottom: 20px;
}

.row-quote {
    margin-top: 5.5vh;
    margin-bottom: 5.5vh;
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20px;
}

.promo-group {
    text-align: center;
}

.promo-button {
    display: block;
    background-color: transparent;
    height: 31px;
    color: white !important;
    padding: 0;
    width: 130px;
    font-weight: 400;
    display: inline;
    font-family: 'Open Sans';
    font-size: 11px;
    letter-spacing: 2px;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.promo-button:hover {
    background-color: white;
    color: black !important;
}

.login-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.header-text {
    text-align: center;
    font-family: 'Source Sans Pro';
    margin-top: 50px;
    font-weight: 300;
    font-size: 30px;
}

.body-text {
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin-left:30px;
    margin-right: 30px;
}

.img-background {
    /*background-image: url('/images/BurritoEditCompress.jpg');*/
    background-color: #4690E6;
    background-size: cover;
    height:230px;
    margin-bottom: 50px;
    margin-top: -20px;
}

.solid-background {
    height:230px;
    margin-bottom: 50px;
    margin-top: -20px;
    background-color: #4690E6;
}

.background-title {
    color: white;
    text-align: center;
    margin-top: 90px;
}

.info-well {
    background-color: white !important;   
}

.summary-well {
    background-color: white !important;   
    margin-right: 90px;
}

.item-title {
    text-align: center;
    font-family: 'Roboto';
}

.item-price {
    text-align: center;
    font-family: 'Roboto';
}

.item-description {
    text-align: center;
    font-family: 'Roboto';
    color: #555;
}

.option {
    margin-left: 3px;
}

.option-text {
    margin-left: 3px;   
    font-family: 'Roboto';
}

.list-group {
    margin-left: -10px;
}

.grid-product {
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
    height: 230px;
    float: left;
    background-color: white;
    border: 1px solid darkgray;
    font-family: 'Roboto';
    font-weight: 400;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

.grid-product:active {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
}

a.list-group-item:hover, a.list-group-item:focus {
    background-color: #f0f0f0;
    color: black;
}

.list-group-item {
    margin-left: 10px;
}

.click-through {
    pointer-events: none;
}

.grid-product-title {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    pointer-events: none;
    color: black;
}

.grid-product-price {
    color: black;
    pointer-events: none;
}

.grid-products { 
    margin-left: -9px !important;
}

.grid-restaurant {
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: white;
    float: left;
    font-family: 'Roboto';
    font-weight: 400;
    border: 1px solid darkgray;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

.grid-restaurant:active {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
}

.grid-restaurant p {
    color: black;
}

.grid-restaurant p:hover {
    color:white;
}

.total-text {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 4px;
    font-family: 'Roboto';
}

.price-light {
    font-weight: 300;
}

.cart-list {
    margin-left: -40px;
    margin-bottom: 30px;
}

.cart-item {
    list-style-type: none;
}

.cart-item-name {
    font-weight: 300;
    font-size: 25px;
    font-family: 'Roboto';
}

.cart-item-itemoptions {
    font-size: 16px;
    font-family: 'Roboto';
}

.cart-item-price {
    font-size: 18px;
    font-family: 'Roboto';
}

.remove-button {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: white;
    color: black;
    font-weight: 400;
    font-family: 'Roboto';
    border: 1px solid darkgray;
    height: 30px;
    width: 100px;
    padding: 0px 0px 0px 0px;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.remove-button:hover {
    background-color: black;
    color: white;
}

.required-header {
    color: darkgray;
    font-size: 20px;
}

.modal-backdrop {
    pointer-events: none;
}

.section-header {
    font-weight: 300;
    color:#727272;
    font-size: 24px;
    font-family: 'Roboto';
}

.centered-text {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto';
}

.sub-link {
    margin-left: 1px;
    margin-top: 3px;
}

.tag {
    font-weight: 600;
    font-size:16px;
}

.swyft-footer-container {
    background-color: #2E2E2E;
    padding-top: 17px;
    padding-bottom: 7px;
}

.swyft-footer { }

.right {
    float: right;
}

.footer-item {
    display: inline-block;
    font-size: 12px;
    color: white;
    margin-left: 15px;
    font-family: 'Roboto';
}

.footer-item:hover {
    color: gray;
    text-decoration: none;
}

.sub-heading {
    color: darkgray;
    margin-left: 4px;
    margin-top: 4px;
}

.justify-left {
    text-align: left;
}

.search {
    margin-bottom: 10px;
    width: 91%;
}

.btn-float {
    float:right;
    margin-top:10px;
}

.btn-float-fix {
    margin-top: -70px;
    float: right;
}

.btn-standard {
    margin-top: 10px;
}

.overflow {
    table-layout: fixed;
    word-wrap: break-word;
}

.sub-heading-fix {
    color: darkgray;
    margin-left: 4px;
    margin-top: -15px;
}

.faq {
    list-style-type: none;
}

.question {
    font-weight: 600;
}

.terms-container h3 {
    font-weight: 600;
    font-size: 18px;
}

.img-fix {
    margin-bottom: 50px;
    height: 300px;
    width: 100%;
    
}

.item-list {
    list-style-type: none;
    margin-left: -38px;
}

.category-name {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 11px;
}

.image {
    background-size: cover;
}

.spencer {
    background-image: url('/images/Spencer.jpg');
    background-position-y: 50%;
}

.bhargav {
    background-image: url('/images/Bhargav.JPG');
    background-position-y: 40%;
}

.pranay {
    background-image: url('/images/Pranay.jpg');
    background-position-y: 70%;
}

.bharat {
    background-image: url('/images/Bharat.JPG');
    background-position-y: 20%;
}

.lauren {
    background-image: url('/images/Lauren.jpg');
    background-position-y: 30%;
}

.steven {
    background-image: url('/images/Steven.JPG');
    background-position-y: 30%;
}

.moises {
    background-image: url('/images/Moises.jpg');
    background-position-y: 30%;
}

.daniel {
    background-image: url('/images/BuildingEdit.jpg');
    background-position-y: 30%;
}

.antonio {
    background-image: url('/images/Antonio.jpg');
}

.joon {
    background-image: url('/images/Joon.jpg');
}

.header-item {
    margin-right: 10px;
    display: inline;
}

.header-item-text {
    margin-left: 2px;
    color: darkgray;
    font-size: 11px;
}

.icon {
    font-size: 10px;
    color: darkgray;
}

.delivery-note {
    margin-bottom: 16px;
}

.text-area {
    height: 200px;
}

.error-text {
    margin-left: 10px;
    color: darkgray;
}

.news-text {
    font-family: 'Roboto';
}

.row-three {
    background-color: #434343;
}

.row-three-text {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-header-three {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    color: white;
}

.checkbox-control {
    margin-top: 15px !important;
}

.name-header {
    font-size: 42px;
    font-family: 'Roboto';
}

.small-header {
    font-size: 25px;
    font-weight: 300;
    font-family: 'Roboto';
}

.light-text {
    color: darkgray;
}

.animate {
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.header-margin {
    margin-left: 13px;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto';
}

.master-sheet {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.master-sheet ul {
    list-style-type: none;
}

.aggregate ul {
    list-style-type: none;
}

.indent-text {
    margin-left: 20px;
}

.quantity-container {
    float: right;
    list-style-type: none;
}

.quantity-container li {
    float: left;
}

.mini-button {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: white;
    color: black;
    font-weight: 400;
    font-family: 'Roboto';
    border: 1px solid darkgray;
    height: 30px;
    width: 30px;
    padding: 0px 0px 0px 0px;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-out;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.mini-button:hover {
    background-color: black;
    color: white;
}

.quantity-label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 16px;
    font-family: 'Roboto';
}

.quantity-label-summary {
    margin-top: 4px;
    font-size: 16px;
    font-family: 'Roboto';
}

.no-list {
    list-style-type: none;
}

.image-scroller {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    background-image: url('/images/Exeter.JPG');
    background-position: center;
    opacity: inherit;
}

.row-four-text {
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    color: white;
    font-family: 'Roboto';
}

.highlight {
    color: rgba(39, 128, 227, 1);
}

.restaurant-notice {
    font-family: 'Roboto';
}

.notice-header {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 600;
}

.invalid-message {
    margin-top: 5px;
    color: red;
}

.remaining-total {
    font-weight: 400;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Roboto';
}

.text-light {
    font-weight: 300;
    font-family: 'Roboto';
}

.transparent-box {
    font-family: 'Roboto';
    border: none;   
    font-size: 16px;
}

.transparent-box-label {
    font-family: 'Roboto';
    font-size: 16px;
}

.inline {
    display: inline;
}

.text-subtitle {
    font-size: 14px;
    margin-top: 5px;
}

.option-group-header {
    font-family: 'Roboto';
}

.form-control {
    font-family: 'Roboto';
}

.master-sheet-total {
    font-size: 16px;
    font-weight: 600;
}

.balance {
    font-family: 'Roboto';
}

.box-dark {
    background-color: #4690E6;
    height: 200px;
    padding-top: 20px;
}

.box-light {
    background-color: #6bb2ff;
    height: 200px;
    padding-top: 20px;
}

.box-header {
    font-size: 32px;
    text-align: center;
    color: white;
    padding-bottom: 11px;
}

.center-fix {
    margin-bottom: 20px;
}

.box-content {
    font-family: 'Open Sans';
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 21px;
}

.row-learn-one {
    background-color: rgba(42, 42, 42, 1);
    color: white;
    padding-top: 55px;
    padding-bottom: 55px;
}

.row-learn-one h1 {
    font-size: 32px;
}

.row-learn-two {
    padding-top: 150px;
    padding-bottom: 160px;
}

.learn-row-header {
    font-size: 17px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: 2px;
}

.learn-two-text {
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
}

.row-learn-three {
    background-color: rgba(42, 42, 42, 1);
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.learn-three-header {
    font-family: 'Roboto';
    text-align: center;
    padding-bottom: 15px;
}

.learn-three-text {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: #2588ff;
}

.row-learn-four {
    padding-top: 100px;
    padding-bottom: 110px;
    background-color: rgba(42, 42, 42, 1);
    color: white;
}

.learn-four-text {
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: 300;
}

.row-learn-five {
    padding-top: 50px;
    padding-bottom: 60px;
}

.learn-five-text {
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: 300;
}

.team-header {
    font-size: 17px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-top: 110px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.summary-total {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto';
}

@media only screen and (max-width: 992px) {
    .summary-well {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-main {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .navbar-main-transparent {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 11px !important;
        margin-right: 10px !important;
    }
    
    .promo {
        height: 30vh;
        background-color: #2a2a2a;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
    }
    
    .learn-more {
        height: 50vh;
    }
    
    .row-one {
        color:black !important;
        height: 50vh;
        margin-top: -32px;
    }

    .row-quote {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .row-one-text {
        margin-top: 13vh;
    }
    
    .welcome-text {
        font-family: 'Source Sans Pro';
        font-weight: 100;
        color: white;
        text-align: center;
        font-size: 50px;
        -webkit-transition: transform 0.5s ease-out;
        -moz-transition: transform 0.5s ease-out;
        -ms-transition: transform 0.5s ease-out;
        -o-transition: transform 0.5s ease-out;
        transition: transform 0.5s ease-out;
    }
    
    .img-background {
        height: 150px;
        margin-bottom: 20px;
    }
    
    .solid-background {
        height: 150px;
        margin-bottom: 20px;
    }

    .background-title {
        margin-top: 44px;
    }
    
    .row-two {
        margin-top: 50px;
        margin-bottom: 75px;
        background-color: white;
    }
    
    .grid-product {
        display: list-item;
        height: auto;
        margin-left: -6px;
        width: 104%;
        padding-bottom: 20px;
        list-style-type: none;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: #e0e0e0;
        margin-bottom: 0px;
        -webkit-transition: background-color 0.2s ease-in;
        -moz-transition: background-color 0.2s ease-in;
        -ms-transition: background-color 0.2s ease-in;
        -o-transition: background-color 0.2s ease-in;
        transition: background-color 0.2s ease-in;
    }
    
    .grid-product:active {
        background-color: #f5f5f5;
        transform: none;

    }
    
    .grid-restaurant {
        display: list-item;
        height: auto;
        margin-left: -6px;
        width: 104%;
        float: left;
        padding-bottom: 20px;
        list-style-type: none;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: #e0e0e0;
        margin-bottom: 0px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        -webkit-transition: background-color 0.2s ease-in;
        -moz-transition: background-color 0.2s ease-in;
        -ms-transition: background-color 0.2s ease-in;
        -o-transition: background-color 0.2s ease-in;
        transition: background-color 0.2s ease-in;
    }
    
    .grid-restaurant:active {
        background-color: #f2f2f2 !important;
        transform: none;
    }
    
    .grid-product-title {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 22px;
        text-align: left;
    }
    
    .grid-product-price {
        margin-top: -15px;
        text-align: left;
        display: block;
    }
    
    .category-box {
        margin-left: -6px;
        width: 104%;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #e0e0e0;
        border-bottom-style: none;
        border-bottom-color: transparent;
    }

    .login-form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .header-info {
        display: none;
    }
    
    .navbar-float-margin {
        margin-top: -27px;
    }
    
    .header-bar {
        display: none;
    }
    
    .notice-divider {
        display: none;
    }
    
    .restaurant-notice {
        margin-bottom: 10px;
    }
    
    .learn-four-text {
        font-size: 22px;
    }
    
    .learn-five-text {
        font-size: 22px;
    }
    
    .learn-image-fix {
        height: 200px;
    }

    .promo-text {
        font-size: 41px;
    }
}

/* Image Caption Reveal */

figure {
    margin: 0;
    position: relative;
}
figure section {
    display: block;
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: auto;
}
figure figcaption {
    display: block;
    position: absolute;
    z-index: 5;
}
figure h3 {
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
}
figure span {
    color: #d8d8d8;
    display: block;
    line-height: 1.2;
}
#effect-1 figure {
    background-color: #626262;
}
#effect-1 figcaption {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}
#effect-1 figure section {
    transition: all 0.3s;
}
#effect-1 figure:hover section,
#effect-1 figure.hover section {
    -webkit-transform: translateY(-90px);
    -moz-transform: translateY(-90px);
    -ms-transform: translateY(-90px);
    -o-transform: translateY(-90px);
    transform: translateY(-90px);
}

/* Loading Spinner */

#circleG{width:70px;}.circleG{background-color:#FFFFFF;float:left;height:15px;margin-left:8px;width:15px;-moz-animation-name:bounce_circleG;-moz-animation-duration:1.9500000000000001s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-moz-border-radius:10px;-webkit-animation-name:bounce_circleG;-webkit-animation-duration:1.9500000000000001s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-webkit-border-radius:10px;-ms-animation-name:bounce_circleG;-ms-animation-duration:1.9500000000000001s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-ms-border-radius:10px;-o-animation-name:bounce_circleG;-o-animation-duration:1.9500000000000001s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;-o-border-radius:10px;animation-name:bounce_circleG;animation-duration:1.9500000000000001s;animation-iteration-count:infinite;animation-direction:linear;border-radius:10px;}#circleG_1{-moz-animation-delay:0.39s;-webkit-animation-delay:0.39s;-ms-animation-delay:0.39s;-o-animation-delay:0.39s;animation-delay:0.39s;}#circleG_2{-moz-animation-delay:0.9099999999999999s;-webkit-animation-delay:0.9099999999999999s;-ms-animation-delay:0.9099999999999999s;-o-animation-delay:0.9099999999999999s;animation-delay:0.9099999999999999s;}#circleG_3{-moz-animation-delay:1.1700000000000001s;-webkit-animation-delay:1.1700000000000001s;-ms-animation-delay:1.1700000000000001s;-o-animation-delay:1.1700000000000001s;animation-delay:1.1700000000000001s;}@-moz-keyframes bounce_circleG{0%{}50%{background-color:#000000}100%{}}@-webkit-keyframes bounce_circleG{0%{}50%{background-color:#000000}100%{}}@-ms-keyframes bounce_circleG{0%{}50%{background-color:#000000}100%{}}@-o-keyframes bounce_circleG{0%{}50%{background-color:#000000}100%{}}@keyframes bounce_circleG{0%{}50%{background-color:#000000}100%{}}

.loading-overlay {
    position: fixed; 
    right: 0; 
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; 
    z-index: 100;
    background-color: black;
    opacity: 0.5;
}

.spinner {
    display: block;
    position: fixed;
    margin-left: 45vw;
    margin-top: 45vh;
}