<nav id="admin-menu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <h5 class="admin-sidebar-header">Main Navigation</h5>
    <ul class="nav nav-pills admin-sidebar-list nav-stacked">
        {{#each navigation as |nav|}}
            {{admin-nav label=nav.label route=nav.route icon=nav.icon static=nav.static currentRoute=currentRoute}}
        {{/each}}
    </ul>
</nav>
<div class="admin-loading-container" style="display: none">
	<i class="ion-ios-loop loading-spinner admin-loading-spinner"></i>
    <p class="admin-loading-text">Enjoy a Starbucks Frappuccino while you wait.</p>
</div>
{{flyout-notifications flyouts=notifications}}