<button type="button" class="admin-toggle navbar-toggle" {{action 'toggle'}}>
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
