<span>
{{#if errorStatus}}
  <i class="ion-android-alert status-icon-error"></i>
{{else}}
  <i class="ion-checkmark-circled status-icon-success"></i>
{{/if}}
<p class="admin-delivery-status-text">{{textStatus}}</p>
</span>