{{#if display}}
    <h2 class="option-group-header">{{request.label}} <span class="required-header">Required</span></h2>
    <div class="option-group">
        <div class="list-group">
            {{#each option in request.options}}
            <a class="list-group-item">{{radio-button name=request.value class="option" value=option}}<span class="option-text">{{option.name}}</span><span class="badge">{{#if option.price}}{{render-decimals option.price}}{{/if}}</span></a>
        {{/each}}
        </div>            
    </div>
{{/if}}