{{#if finalAmount}}
  {{format-currency finalAmount}}
{{else}}
  {{format-currency totalPrice}}
{{/if}}

{{#if discountedAmount}}
    <p class="text-subtitle">DISCOUNT: {{format-currency discountedAmount}}</p>
{{/if}}
