{{#if display}}
<div class="loading-overlay"></div>
<div class="spinner">
    <div id="circleG"><div id="circleG_1" class="circleG"></div><div id="circleG_2" class="circleG"></div><div id="circleG_3" class="circleG"></div></div>
</div>
{{/if}}
