{{input type="text" class="no-box-textbox item-option-name" value=extra.name placeholder="Extra Name"}}
{{input type="number" class="form-control" value=extra.price placeholder="Price"}}
<button {{action 'deleteExtra'}}>Delete This Extra</button>


