<form class="form-inline">
    <div class="form-group">
      {{input type="text" class="form-control" value=option.name placeholder="Name"}}
    </div>
    <div class="form-group">
      {{input type="number" class="form-control" value=option.price placeholder="Price"}}
    </div>
    <button {{action 'remove'}}>Remove</button>
</form>
  

