<ul class="navbar-search-container">
    <li><button class="navbar-search-button" {{action 'toggle'}}><i class="search-icon ion-ios-search"></i></button></li>
    <li>{{input id="search-box" value=value type="text" class="form-control div-invisible navbar-search-box"}}</li>
</ul>

