<nav class="navbar navbar-order" role="navigation">
    <div class="container">
        <div class="navbar-order-header">
            <div class="navbar-header">
                <span class="navbar-brand-order">{{#link-to 'index'}}SWYFT{{/link-to}}</span>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <ul class="navbar-search-container">
                        <li><button class="navbar-search-button" {{action 'goBack'}}><i class="search-icon ion-ios-arrow-left"></i></button></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{navbar-toggle}}</li>
            </ul>
        </div>
    </div>
    {{!--
    <div class="navbar-container-order container">
        <div class="navbar-float">
            {{navbar-toggle}}
        </div>

    </div>--}}
</nav>