<nav class="navbar navbar-order" role="navigation">
    <div class="container">
        <div class="navbar-order-header">
            <div class="navbar-header">
                <span class="navbar-brand-order">{{#link-to 'index'}}SWYFT{{/link-to}}</span>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li>{{navbar-search-button value=value searchVisible=searchVisible}}</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{navbar-toggle}}</li>
            </ul>
        </div>
    </div>
</nav>